rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /business/temp_pl_documents/{fileName} {
      // anyone (even unauthenticated) can upload temporary P&L files
      allow read, write: if true;
    }

    match /{allOtherPaths=**} {
      // require auth for all other files
      allow read, write: if request.auth != null;
    }
  }
}
